#jobs {
  position: relative;
}

#bars {
  position: relative;
  top: 20px; /* Space for pull counter */
  left: 100px; /* Space for some left buffs */
}

/* Relative to #bars */
#left-side-icons {
  position: absolute;
  left: -2px;
}

#left-side-icons < * {
  visibility: hidden;
}

/* Relative to #bars */
#right-side-icons {
  position: absolute;
  left: 242px;
}

/* Relative to #bars */
#mp-tick {
  width: 202px;
  height: 7px;
  margin-top: 1px;
  border: 4px solid black;
  border-radius: 10px;
}

.timerbar-bg {
  border-radius: 10px;
}

.bar-border-color {
  background-color: orange;
}

.mp-tick-color {
  background-color: rgb(133, 192, 231);
}
